@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.urbanist-font {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.swiper-button-prev,
.swiper-button-next {
    color: #0b8d9c !important
}

.swiper-pagination-bullet-active {
    background: #0ba5b7 !important
}

/* * {
    background-color: white;
    color: black;
} */